.calculator-body {
  background-color: ghostwhite;
  border: solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result {
  background-position-x: center;
  border: black;
}

button {
  background-color: lightblue;
  width: 50px;
  height: 50px;
}

#top{
  grid-template-rows: auto;
  width: 66.59px;
  flex-grow: inherit;
}